body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices {
    margin: 20px 0px
}

.box {
    border: 3px solid black;
    height: 70px;
    width: 325px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box h2 {
    margin: 0;
    color: grey;
}

.board {
    display: flex;
    height: 70px;
    width: 325px;
    justify-content: space-between;
}

.board .player {
    text-align: center;
    font-weight: 700;
    font-size: larger;
}